textarea { width: 300px; height: 100px; padding:5px; }
input:focus, textarea:focus { border: 2px solid green; }
button { background:blue; color:white; padding:5px 10px; }
button:hover { background: darkblue; cursor:pointer; }
